In [14]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\msi\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\msi\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\msi\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\msi\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\msi\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\msi\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
import pandas as pd
growth = pd.Series([143, 150, 157, 160], index = ["2018", "2019", "2020", "2021"])
growth
# growth["2018"]

2018    143
2019    150
2020    157
2021    160
dtype: int64

In [16]:
growth = pd.Series([143, 150, 157, 160])
growth[0]

143

In [21]:
index = ["2018", "2019", "2020", "2021"]
data = {
        "영희" : [143, 150, 157, 160],
        "철수" : [165, 172, 175, 180]
    }

# Y = pd.DataFrame([143, 150, 157, 160], index = index)
# C = pd.DataFrame([165, 172, 175, 180], index = index)

growth = pd.DataFrame(data, columns = ["영희", "철수"], index = index)
# growth = pd.DataFrame({
        # "영희" = Y,
        # "철수" = C
        # })
print(growth.dtypes)
# growth.astype("float")
growth.astype({"영희" : "float"})

영희    int64
철수    int64
dtype: object

         영희   철수
2018  143.0  165
2019  150.0  172
2020  157.0  175
2021  160.0  180

In [40]:
pd.read_csv("11111.csv", index_col = 0)

      A   B  C
0    30  21  9
100  11   2  3

In [44]:
growth.to_csv("growth.csv")